@import './normalize.css';

*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
}
@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Regular.woff2') format('woff2');
    font-weight: normal;
}

:root {
    font-family: Gilroy, sans-serif;
    --text-color: #fff;
}
.popup {
    background: linear-gradient(88deg, #00bb8c 0%, #5ad303 184.89%);
}

@media (orientation: landscape) {
    :root {
        font-size: calc(0.926 * 1vh);
    }
    .popup {
        border: 0.2rem solid rgba(255, 255, 255, 0.4);
        background: linear-gradient(90deg, #616161 0%, #2c2c2c 100%);
    }
}

@media (orientation: portrait) {
    :root {
        font-size: calc(1.302 * 1vh);
    }
}
